.form__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 10px;
  min-height: 322px;
  padding: 25px 22px;
  box-sizing: border-box;
}
