.form__submit-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .form__submit-text {
    font-size: 18px;
    line-height: 22px;
  }
}
